<!DOCTYPE html>
<html lang="en">

 <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/2a4efb801f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/homepage.css" />
    <title>Scalpel</title>
  </head>

<body >
  <div class="container-fluid" >
    <nav class="lh-1 py-3">
      <div class="row align-items-center ">
        <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-6 5pt-1 brand-img">
          <a href='/'><img id="scalpel-img" class="scalpal-img"src="/images/scalpal.jpg" /></a>
        </div>
        <div class="col col-lg-4 col-md-4  col-sm-6 text-center title">
          <a class="home-link " href='/'>
            <span class="navbar-brand mb-0 h1 header-text">scalpel
              <span id="titlenote"> Rent or buy hard to find items</span>
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 d-flex align-self-end justify-content-end gap-0">
          <div class=" d-inline-flex align-self-end">
            <a href="/cart"><button type="button" id="cartbtn" class="fa-solid fa-cart-shopping fa-3x btn btn-secondary" ></button></a>
          </div>
          {{#if logged_in}}
         
            <div class="d-inline-flex pb-1">
              <a href='/profile'  id="profile-btn" class="btn btn-secondary btn-circle btn-xl ">Profile</a>
            </div>
            <div class=" d-inline-flex">
             <button id="logout" class="btn btn-outline-danger loginbtn" >Log out</button>
            </div>
          
          {{else}}
          <div class="">
            <a href="/login" id="login-btn" class=" btn btn-secondary btn-danger loginbtn">Log In</a>
          </div>
          {{/if}}
        </div>
        </div>
      </div>
    </nav> 
    
    <div class="col-lg-12 container-fluid bg-dark ">
      <ul class="row navbar d-flex">
        <li class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center ">
            <div class="row btn-group">
                <button class="col col-lg-6 col-md-6 col-sm-12 col-xs-12 btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </button>
                <ul class="dropdown-menu text-center col col-lg-6 col-md-6 col-sm-12 col-xs-12 " aria-labelledby="dropdownMenuButton1">
                    {{#each categories as |category|}}
                    <li><a class="dropdown-item" href="/category/{{category.id}}">{{category.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </li>
        <li class=" p-3 col-lg-6 col-md-6 col-sm-12 col-xs-12 justify-content-center text-center">
          <form class='row justify-content-center gap-2' type="search" action="/search" id="search-form">
              <input
                  name="term"
                  class="col-lg-4 col-md-4 col-sm-6 col-xs-12  pb-1"
                  
                  type="search"
                  placeholder="Jordan"
                  aria-label="Search"
              />                  
              <button id="search-btn" class="col-lg-2 col-md-2 col-sm-2 col-xs-1 pt-1 btn btn-light btn-outline-danger" type="submit">
                  Search
              </button>
          </form>
        </li>
      </ul>
    </div>
    <div id="main-area" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12" >
      {{{body}}}
    </div>
      
  
 </div>
    {{!-- Script for Carousel --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous">
    </script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                800: {
                    items: 3
                },
                1000: {
                    items: 4
                },
                1200: {
                    items: 5
                },
                1400: {
                    items: 6
                }
            }
        })
    </script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>
