<div class="row">
            <div class="col-12 col-lg-3 col-md-3 col-sm-12 col-xs-12 float-start me-auto">
                <div class="border-end bg-white" id="sidebar-wrapper">
                    <div class="row sidebar-heading border-bottom bg-light">
                        <img src="http://picsum.photos/id/1025/150/150" alt="User Profile Pic" class="rounded-circle m-3 float-start profilePic" style="width:140px ;height:100px">
                        <div class="sidebar-body">
                            <h4>{{first_name}} {{last_name}}</h4>
                            <h6> {{email}}</h6>
                            <p>Active Since: {{createdAt}}</p>
                        </div>
                       </div>
                    <div class="list-group list-group-flush">
                        <a class="active list-group-item list-group-item-action list-group-item-light p-3" href="/profile/items">Manage Items</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/profile/rentals">Manage Rentals</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/profile/addresses">Manage Addresses</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/profile/payments">Manage Payment Methods</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/profile/history">Order History</a>
                    </div>
                </div>
            </div>
    <div class='col col-lg-9 col-md-9 col-sm-12 col-xs-12'>
        {{#> (lookup . 'profilePartial') }}
        {{/undefined}}
    </div>
</div>
<script src="/js/profile.js"></script>
